---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: check-toml
- repo: https://github.com/python/black
  rev: 22.3.0
  hooks:
  - id: black
    name: black (python3)
    language_version: python3
    args: ["--check"]
- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort (python3)
      language_version: python3
      args: ["--check", "--profile=black"]
- repo: https://github.com/python-poetry/poetry
  rev: 1.2.2
  hooks:
    - id: poetry-check
    - id: poetry-lock
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.4
  hooks:
  - id: shellcheck
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.32.2
  hooks:
  - id: markdownlint
